*{
	margin: 0;
	padding: 0;
}
.header{
	height: 350px;
	padding: 2%;
	background-color: lightblue;
	text-align: left;
	position: top;
} /* size, color and position of the header section is set. */ 

nav ul{
	margin: 5px;
	padding: 0;
}
nav ul li{
	list-style: none;
	margin: 2%;
	padding: 0%; /* margin, padding and style is set for the items with nav tag */
}
.flex-container{
	display: flex;
	padding: 2%; /* flex property is set for the items in flex-container. */
}
h1{

  	margin: 0.5%;
	padding: 1%;
	font-size: 20px;
}
nav ul li a{
	text-decoration: none;
	display: block;
	font-size: 25px;
	width: 120%;
	height: 30px;
	background-color: yellow;
	text-decoration-color: white;

}
p{
	text-align: center;	
	font-size: 50px;
}

html, body {
	width: 100%;
	height: 100%;
	font-size: 50px;
	font-weight: normal;
	background-color: lightblue; 
}
.mainbody{
	height: 100%;
	width: 100%;
	background-image: url(imgnews.jpg); /* background image is set. */
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow: auto;
} /* size, popsition and image are set. */


h1{
	font-size: 25px;
}

.footer{
	margin-bottom: 0;
	width: 100%;
	height: 5%;
	background-color: lightblue;
} /* properties of footer section are set. */

p1{
	font-size: 22px;
	text-align-last: center; /* position of text is managed. */
	display: block;
}
p2{
	font-size: 35px;
	display: block;
}